{
  "openapi": "3.0.0",
  "info": {
    "title": "HR API",
    "description": "HR 어플리케이션 REST API 서버 - 직원, 부서, 급여, 휴가, 근태 정보 제공",
    "version": "1.0.0",
    "contact": {
      "name": "API Support"
    }
  },
  "servers": [
    {
      "url": "https://hr-api-app.politefield-8ac4922f.koreacentral.azurecontainerapps.io"
    }
  ],
  "paths": {
    "/api/employees": {
      "get": {
        "summary": "직원 정보 조회",
        "description": "모든 직원 정보를 조회하거나 부서/상태별로 필터링하여 조회합니다.",
        "operationId": "GetEmployees",
        "parameters": [
          {
            "name": "department",
            "in": "query",
            "description": "부서명으로 필터링 (예: 개발팀, 인사팀, 마케팅팀)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "재직 상태 (active 또는 inactive)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["active", "inactive"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer",
                      "description": "전체 직원 수"
                    },
                    "filtered_count": {
                      "type": "integer",
                      "description": "필터링된 직원 수"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Employee"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/departments": {
      "get": {
        "summary": "부서 정보 조회",
        "description": "모든 부서 정보를 조회하거나 위치별로 필터링하여 조회합니다.",
        "operationId": "GetDepartments",
        "parameters": [
          {
            "name": "location",
            "in": "query",
            "description": "위치별로 필터링 (예: 서울 본사, 판교 오피스)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "filtered_count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Department"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/salaries": {
      "get": {
        "summary": "급여 정보 조회",
        "description": "급여 정보를 조회하거나 연도/월별로 필터링하여 조회합니다.",
        "operationId": "GetSalaries",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "description": "연도별 필터링 (예: 2024)",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "month",
            "in": "query",
            "description": "월별 필터링 (1-12)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "filtered_count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Salary"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/leave-requests": {
      "get": {
        "summary": "휴가 신청 내역 조회",
        "description": "휴가 신청 내역을 조회하거나 상태/직원ID별로 필터링하여 조회합니다.",
        "operationId": "GetLeaveRequests",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "승인 상태 (pending, approved, rejected)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["pending", "approved", "rejected"]
            }
          },
          {
            "name": "employee_id",
            "in": "query",
            "description": "직원 ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "filtered_count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LeaveRequest"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/api/attendance": {
      "get": {
        "summary": "근태 기록 조회",
        "description": "근태 기록을 조회하거나 날짜/직원ID/상태별로 필터링하여 조회합니다.",
        "operationId": "GetAttendance",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "날짜 (YYYY-MM-DD 형식)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "employee_id",
            "in": "query",
            "description": "직원 ID",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "근태 상태",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["present", "late", "absent", "half_day", "remote"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_count": {
                      "type": "integer"
                    },
                    "filtered_count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Attendance"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "인증 실패"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Employee": {
        "type": "object",
        "properties": {
          "employee_id": {
            "type": "string",
            "description": "직원 ID"
          },
          "name": {
            "type": "string",
            "description": "직원 이름"
          },
          "department": {
            "type": "string",
            "description": "부서명"
          },
          "position": {
            "type": "string",
            "description": "직급"
          },
          "email": {
            "type": "string",
            "description": "이메일"
          },
          "phone": {
            "type": "string",
            "description": "전화번호"
          },
          "hire_date": {
            "type": "string",
            "format": "date",
            "description": "입사일"
          },
          "status": {
            "type": "string",
            "description": "재직 상태"
          }
        }
      },
      "Department": {
        "type": "object",
        "properties": {
          "department_id": {
            "type": "string",
            "description": "부서 ID"
          },
          "name": {
            "type": "string",
            "description": "부서명"
          },
          "manager": {
            "type": "string",
            "description": "부서장"
          },
          "location": {
            "type": "string",
            "description": "위치"
          },
          "employee_count": {
            "type": "integer",
            "description": "직원 수"
          },
          "budget": {
            "type": "integer",
            "description": "예산"
          }
        }
      },
      "Salary": {
        "type": "object",
        "properties": {
          "salary_id": {
            "type": "string",
            "description": "급여 ID"
          },
          "employee_id": {
            "type": "string",
            "description": "직원 ID"
          },
          "employee_name": {
            "type": "string",
            "description": "직원 이름"
          },
          "year": {
            "type": "integer",
            "description": "연도"
          },
          "month": {
            "type": "integer",
            "description": "월"
          },
          "base_salary": {
            "type": "integer",
            "description": "기본급"
          },
          "bonus": {
            "type": "integer",
            "description": "상여금"
          },
          "deductions": {
            "type": "integer",
            "description": "공제액"
          },
          "net_salary": {
            "type": "integer",
            "description": "실수령액"
          }
        }
      },
      "LeaveRequest": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "description": "신청 ID"
          },
          "employee_id": {
            "type": "string",
            "description": "직원 ID"
          },
          "employee_name": {
            "type": "string",
            "description": "직원 이름"
          },
          "leave_type": {
            "type": "string",
            "description": "휴가 유형"
          },
          "start_date": {
            "type": "string",
            "format": "date",
            "description": "시작일"
          },
          "end_date": {
            "type": "string",
            "format": "date",
            "description": "종료일"
          },
          "days": {
            "type": "number",
            "description": "휴가 일수"
          },
          "reason": {
            "type": "string",
            "description": "사유"
          },
          "status": {
            "type": "string",
            "description": "승인 상태"
          },
          "applied_date": {
            "type": "string",
            "format": "date",
            "description": "신청일"
          }
        }
      },
      "Attendance": {
        "type": "object",
        "properties": {
          "attendance_id": {
            "type": "string",
            "description": "근태 ID"
          },
          "employee_id": {
            "type": "string",
            "description": "직원 ID"
          },
          "employee_name": {
            "type": "string",
            "description": "직원 이름"
          },
          "date": {
            "type": "string",
            "format": "date",
            "description": "날짜"
          },
          "check_in": {
            "type": "string",
            "description": "출근 시간"
          },
          "check_out": {
            "type": "string",
            "description": "퇴근 시간"
          },
          "work_hours": {
            "type": "number",
            "description": "근무 시간"
          },
          "status": {
            "type": "string",
            "description": "근태 상태"
          }
        }
      }
    },
    "securitySchemes": {
      "api_key": {
        "type": "apiKey",
        "name": "x-api-key",
        "in": "header",
        "description": "API 인증 키를 입력하세요"
      }
    }
  }
}